@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kanit';
    src: url('./assets/Fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SquareSpace';
    src: url('./assets/Fonts/Square-Space.ttf') format('truetype');
}